/* normalize */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
/* end normalizer */

h1,
h2,
h3,
h4 {
  margin: 0;
}

html,
body {
  font-family: "Times New Roman", Times, serif;
  color: #333;
  background-color: white;
  padding-top: 35px;
  width: 100%;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.active {
  border: none;
  background: none;
  outline: 1px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  color: #df096d;
  font-weight: 600;
  white-space: nowrap;
}

.modalDisplay {
  display: block !important;
}

.navbar {
  background-color: rgb(233, 232, 232);
  color: #fff;
  border-bottom: 1px solid rgba(8, 8, 8, 0.2);
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  a {
    text-decoration: none;
    color: rgb(172, 12, 137);
  }
  ul {
    float: right;
    list-style: none;
    padding: 0 50px;
    margin: 0;
    height: 100%;
    li {
      display: inline-block;
      height: 100%;
      a {
        display: block;
        text-align: center;
        min-width: 120px;
        padding: 0 30px;
        height: 100%;
        :hover {
          background-color: rgba(119, 115, 115, 0.15);
        }
      }
    }
  }
}

.navbar a.navbar-brand {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}

.navbar .navbar-toggler {
  display: none;
}

.chef {
  height: auto;
  width: 80%;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  img {
    height: auto;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgba(189, 182, 182, 0.849);
    box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.12);
  }
}

.daily_container {
  padding-top: 50px;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
  cursor: default;
}

.grid-item {
  background-color: rgb(242, 242, 243);
  border: 1px solid rgba(165, 162, 162, 0.781);
  position: relative;
  height: auto;
  margin: 40px 0;

  h2 {
    padding: 10px 15px;
    margin: 0;
    height: auto;
    font-size: 20px;
    color: white;
    background-color: rgb(223, 9, 109);
  }
  i {
    font-size: 20px;
    padding-right: 10px;
  }
}

.grid-item:hover {
  background-color: lightgray;
  cursor: pointer;
}

.daily-title:hover {
  cursor: default;
}

.daily-text {
  margin: 10px;
  font-size: 15px;
  color: black;
  h3 {
    height: auto;
  }
  p {
    line-height: 18px;
    height: 40px;
    margin-bottom: 15px;
  }
}

.daily-bottom-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: white;
  h3 {
    padding: 5px 10px;
    background-color: rgb(172, 12, 137);
  }
}

.sortimente-widget {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  height: 80px;
  display: flex;
  width: 700px;
  margin: 40px auto 0 auto;
}

#Search {
  display: none;
}

#Search_sortiment {
  display: none;
}

.search-icon {
  background: rgb(223, 9, 109);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  cursor: pointer;
  font-weight: lighter;
  font-size: 17px;
  padding: 20px 20px 40px 20px;
  margin: 10px 40px;
  width: 300px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.search-icon:hover {
  background: rgb(189, 6, 91);
  color: rgb(230, 224, 224);
  border: 1px solid black;
  transition: all ease-in-out 0.3s;
  box-shadow: none;
}

.search-box,
.search-wrapper {
  position: relative;
  padding: 10px 0;
}

.search-wrapper {
  margin: 15px auto 40px auto;
  width: 50%;
  background: rgb(242, 242, 243);
  padding: 16px;
  border: 1px solid rgba(231, 223, 230, 0.925);
  box-shadow: 0 2px 28px 0 rgba(231, 223, 230, 0.925);
}

.search-box {
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  outline: 0;
  border-radius: 0;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
  transition: all ease-in-out 0.3s;
}

.container {
  margin-right: 10%;
  margin-left: 10%;
}

.restaurante-container {
  display: grid;
  grid-column-end: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 30px 0;
  img {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    padding: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 3px 3px 10px 0px rgb(83, 78, 78);
  }
}

.restaurante-item {
  justify-content: center;
  font-size: 30px;
  text-align: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  h2 {
    margin: 10px 0 -10px 0;
    font-size: 20px;
  }
  p {
    font-size: 15px;
    color: rgba(97, 87, 87, 0.788);
    margin: 10px 0 0 0;
  }
}

.restaurante-item:hover img {
  transform: scale(0.95);
  transition: all ease-in-out 0.3s;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: none;
}

.socialize {
  padding: 20px;
  height: 130px;
  color: #888;
  border-top: 1px solid #cfcece;
  border-bottom: 1px solid #cfcece;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  form {
    display: flex;
  }
}

.socialize_email {
  color: black;
  width: 100%;
  padding: 17px 0 11px 15px;
  margin: 40px 0 40px 20px;
  box-sizing: border-box;
  border: 1px solid #cfcece;
  height: 45px;
}

.socialize_send {
  background-color: #cfcece;
  color: rgb(179, 13, 90);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 13px 15px 12px 15px;
  margin: 40px 0 40px 0;
  height: 45px;
}

.socialize_send:hover {
  color: rgb(233, 232, 232);
  background-color: rgb(223, 9, 109);
  transition: 0.5s ease-out;
}

.socialize_social-cont {
  margin: 40px 10px 40px 0;
  a {
    font-size: 20px;
    float: left;
    background-color: #cfcece;
    cursor: pointer;
    color: rgb(223, 9, 109);
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:nth-child(3) {
      margin-right: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
    &:nth-child(2) {
      padding-left: 14px;
      padding-right: 14px;
    }
    &:nth-child(1) {
      padding-left: 20px;
      padding-right: 20px;
    }
    &:hover {
      background-color: rgb(223, 9, 109);
      color: white;
      border: 1px solid wheat;
      transition: 0.5s ease-out;
    }
  }
}

.copyrights {
  padding: 10px 50px;
  height: 50px;
  color: black;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyrights_support {
  display: flex;
  flex-direction: row;
  p {
    margin: 15px 10px;
    &:nth-child(1):hover {
      color: rgb(223, 9, 109);
      cursor: pointer;
    }
  }
}

.modal-left {
  width: 75%;
}

#modal-open {
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  margin: 0;
  font-size: 20px;
  padding: 20px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 85px;
  border-bottom-right-radius: 85px;
  border: 1px solid rgb(187, 181, 181);
  box-shadow: 0px 0px 10px 1px rgba(105, 104, 104, 0.849);
  cursor: pointer;
  outline: none;
  z-index: 11;
  &:hover {
    background-color: #cfcece;
    color: rgb(223, 9, 109);
  }
}

.modal_container {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 25vh;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.404);
  box-shadow: -5px 0px 14px -3px rgba(95, 95, 95, 0.75);
}

.cos_container {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 50px;
  width: 25%;
  height: 100%;
  text-align: center;
  box-shadow: -5px 0px 14px -3px rgba(95, 95, 95, 0.75);
}

.cos_content {
  overflow: auto;
  position: relative;
  background-color: #ffffff;
  padding-bottom: 40px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  display: none;
  color: black;
  float: right;
  padding: 10px 20px 0 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(218, 32, 103);
  text-decoration: none;
  cursor: pointer;
}

.close-restaurant-modal {
  display: block;
  -webkit-text-stroke: 1px rgb(223, 9, 109);
  color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  margin: 10px 20px 0 0;
  padding: 3px 10px;
  font-size: 28px;
  font-weight: bold;
  border: 2px solid rgb(223, 9, 109);
  border-radius: 50%;
  background-color: #53515169;
}

.close-restaurant-modal:hover,
.close-restaurant-modal:focus {
  color: rgb(218, 32, 103);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  color: #000;
  border-bottom: 1px solid #cfcece;
}

.restaurant_body:last-child {
  margin-bottom: 50px;
}

.details-background {
  height: 400px;
  width: 100%;
  img {
    height: 400px;
    width: 100%;
  }
}

.restaurant-info {
  padding: 20px 10% 20px 10%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  &:hover {
    cursor: pointer;
    background-color: rgb(227, 227, 231);
  }
  h1 {
    font-size: 30px;
  }
  span {
    font-size: 20px;
    margin: 10px;
  }
}

.restaurant-title {
  text-align: center;
  display: block;
  text-align: center;
}

.modal-detalii-container {
  position: relative;
  background-color: #f1eded;
  margin: auto;
  border: 1px solid #888;
  width: 75%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  img {
    height: 300px;
    width: 100%;
  }
}

.modal-detalii {
  display: flex;
  margin: auto;
  width: 80%;
  padding-left: 20px;
  text-align: center;
  overflow: auto;
}

.modal-detalii-title {
  position: relative;
  background: rgba(255, 255, 255, 0.856);
  margin: -25px auto 10px auto;
  padding: 5px 15px;
  width: 30%;
  box-shadow: -2px 4px 8px -2px rgba(114, 112, 112, 0.75);
  border: 1px solid rgb(177, 171, 171);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 17;
}

.modal-detalii-content {
  text-align: left;
  margin: 10px auto 30px auto;
  p {
    margin-top: 5px;
  }
}

.restaurant-ora {
  padding-left: 5px;
}

.restaurant-sortiments {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  height: auto;
  padding: 0 10%;
  box-shadow: -2px 4px 8px -2px rgba(207, 206, 206, 0.75);
}

.restaurant-menu {
  position: relative;
  overflow: auto;
}

.restaurant-align {
  margin: 10px 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.restaurant-item {
  border: none;
  background: none;
  outline: 1px;
  cursor: pointer;
  &:hover {
    transition: all ease-in-out 0.3s;
    color: rgb(223, 9, 109);
    font-weight: 600;
  }
}

#detalii {
  z-index: 15;
  display: block;
}

.restaurant_food {
  margin-top: 30px;
  box-shadow: 1px 1px 14px 6px rgba(190, 186, 186, 0.75);
  background-color: rgb(242, 242, 243);
  color: black;
  > h3 {
    padding: 25px 0;
    text-align: center;
    user-select: none;
  }
}

.food-container {
  margin-bottom: 30px;
}

.type-food {
  padding: 15px;
  height: auto;
  border-top: 1px solid #cfcece;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: rgb(232, 232, 235);
    cursor: pointer;
    box-shadow: inset 0 0 5px 1px rgba(136, 127, 127, 0.75);
  }
}

.food_detalii {
  height: auto;
  width: auto;
  p {
    font-weight: lighter;
    margin: 7px 5px 5px 5px;
  }
}

.food_price {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding: 0 0 0 15px;
  height: 100%;
  border-left: 1px solid #cfcece;
  span {
    display: block;
    margin: 0 auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000000;
    height: 25px;
    width: auto;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: rgb(223, 9, 109);
    border: 1px solid rgba(0, 0, 0, 0.377);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
    user-select: none;
    &:hover {
      box-shadow: inset 0 0 10px 5px rgba(102, 99, 99, 0.397);
    }
  }
  p {
    margin: 0 auto 5px auto;
    width: auto;
    white-space: nowrap;
  }
}

.modal-cos {
  margin-top: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #cfcece;
  padding-bottom: 50px;
  box-shadow: -2px 4px 8px -2px rgba(207, 206, 206, 0.75);
  h3 {
    margin-bottom: 20px;
  }
}

.cos-produs {
  justify-content: space-between;
  justify-items: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  p {
    color: #8d8686;
  }
}

.modal-total {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.modal-adress {
  margin-bottom: 240px;
  h3 {
    margin-top: 25px;
    margin-bottom: 5px;
  }
  button {
    margin-top: 25px;
    margin-bottom: 5px;
  }
}

.form-adress {
  height: 400px;
  input,
  textarea {
    width: 50%;
    border: 1px solid rgb(138, 137, 137);
  }
  button {
    font-weight: 700;
    color: #ffffff;
    box-shadow: 1px 1px 14px 6px rgba(190, 186, 186, 0.75);
    background-color: rgb(223, 9, 109);
    height: 50px;
    width: 50%;
    border: none;
    &:active {
      box-shadow: inset 0 0 10px 5px rgba(112, 108, 108, 0.829);
    }
  }
}

.center {
  text-align: center;
}

.about-products-bg {
  height: 550px;
}

.textp {
  color: rgb(230, 222, 228);
  text-align: center;
  background-color: #000;
  margin: 0 auto 0 250px;
  padding: 20px 20px 10px 20px;
  border: 1px solid rgb(122, 115, 115);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 300px;
  height: auto;
  user-select: none;
  h1 {
    color: rgb(184, 23, 103);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(107, 101, 101);
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(48, 45, 45);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px solid rgb(141, 124, 124);
  }
  p {
    margin-top: 10px;
    font-size: 20px;
  }
}

.wrapperr {
  padding: 30px 0;
  text-decoration: none;
  background-color: rgb(243, 232, 232);
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  margin-bottom: -19px;
}

.gallery {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  h4,
  img,
  p {
    text-align: center;
    color: rgb(100, 94, 94);
    line-height: 20px;
    width: 175px;
    opacity: 0.7;
  }
}

.gallery_about {
  border: 1px solid rgb(0, 0, 0);
  margin: 0 5px;
  h3 {
    text-align: center;
    color: rgb(100, 94, 94);
    line-height: 20px;
    width: 175px;
    opacity: 0.7;
  }
}

.gallery img {
  height: 175px;
}

.gallery_about:hover img,
.gallery_about:hover p,
.gallery_about:hover h3,
.gallery_about:hover h4 {
  opacity: 1;
  color: rgb(0, 0, 0);
}

.produse-cos {
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  p {
    width: 100px;
    margin: 0 0 0 5px;
    padding-right: 15px;
  }
}
.produs-info {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  width: 60%;
}

.produs-numar {
  width: 30px;
}

.produs-cantitate {
  display: flex;
  flex-direction: column;
  height: 20px;
  width: auto;
  > button {
    background: rgb(223, 9, 109);
    border: 1px solid black;
    font-size: 15px;
    padding: 2px 5px;
    width: 80px;
    margin: 5px auto 0 auto;
  }
}

.quantity-container {
  display: flex;
  flex-direction: row;
}

.item-info {
  display: none;
  width: 200px;
}

.produs-info:hover .item-info {
  display: block;
}

.produse-cos {
  text-align: left;
  display: flex;
}

.arrow-slider {
  display: none;
}
/*                              MEDIA QUERY */
@media (max-width: 1350px) {
  .fix {
    width: 62%;
  }
  .restaurante-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-gap: 20px;
    width: 100%;
  }

  .product-img {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    h2 {
      margin: 5px 0 -10px 0;
      padding-top: 0px;
      font-size: 20px;
    }
  }

  .navbar {
    padding-left: 0;
    ul {
      padding: 0 10px;
      li {
        a {
          min-width: 100px;
          padding: 0 20px;
        }
      }
    }
  }

  .modal-plata {
    margin: 0 10px;
  }

  .modal-left {
    width: 70%;
  }
  .cos_container {
    width: 30%;
  }
}

/* Tablet */
@media (max-width: 1150px) {
  #modal-open {
    display: block;
    font-size: 20px;
    padding: 15px 15px;
  }

  .produs-cantitate > button {
    margin: 5px 0;
  }

  .restaurante-container {
    grid-template-columns: 1fr 1fr !important;
  }

  .restaurante-item {
    font-size: 30px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .product-img {
    width: 100%;
    height: 80%;
    margin: 0 auto;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .grid-item:nth-child(3) {
    display: none;
  }

  .sortimente-widget {
    width: 550px;
    margin: 40px auto 20px auto;
    height: 70px;
  }

  .search-wrapper {
    width: 350px;
  }

  .search-icon {
    font-size: 15px;
    padding: 15px 10px 35px 10px;
    margin: 10px;
    width: 260px;
    font-weight: normal;
    height: 45px;
  }

  .socialize_email {
    margin-left: 0;
  }

  .socialize_social-cont {
    margin-right: 0;
    a {
      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }

  .close {
    display: block;
  }

  .cos_container {
    position: fixed;
    z-index: 11;
    display: none;
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.404);
    box-shadow: -5px 0px 14px -3px rgba(95, 95, 95, 0.75);
  }

  .modal-left {
    width: 100%;
  }

  .cos_content {
    margin: auto;
    width: 75%;
    height: 75%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .modal-detalii-container {
    width: 90%;
  }
  .form-adress {
    height: auto;
  }
}

@media (max-width: 760px) {
  .produs-info {
    width: 100%;
  }

  .chef {
    width: 95%;
  }

  .daily_container {
    padding-top: 20px;
  }

  .arrow {
    display: flex;
    flex-direction: row;
    margin: 0 5%;
  }

  .arrow-slider {
    display: block;
    width: 50%;
  }

  .navbar {
    .navbar-toggler {
      display: block;
      position: absolute;
      height: 40px;
      top: 20px;
      right: 20px;
      background-color: transparent;
      color: #fff;
      border: 3px solid #fff;
      outline: none;
      padding: 0 5px;
      cursor: pointer;
    }
    padding: 0;
    ul {
      width: 100%;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.9);
      height: 100vh;
      max-height: 0;
      overflow: hidden;
      transition: all ease-in-out 0.3s;
      li {
        width: 100%;
        height: auto;
        a {
          margin: 20px 0;
          padding: 0;
          border: 1px solid rgb(202, 193, 193);
          &:hover {
            background-color: rgba(124, 121, 121, 0.9);
            color: rgb(223, 9, 109);
          }
        }
      }
    }
  }

  .navbar ul.open {
    max-height: 100vh;
  }

  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }

  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }

  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  .navbar .navbar-toggler.open-navbar-toggler span {
    background-color: transparent;
    transform: scale(0.85) rotate(270deg);
  }

  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) scale(0.75) rotate(45deg);
  }

  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) scale(0.75) rotate(-45deg);
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    margin-bottom: 20px;
    margin-top: 15px;
    &:nth-child(2) {
      display: none;
    }
  }

  .daily-text-text {
    height: 60px;
  }

  .daily-bottom-bar h3 {
    font-size: 15px;
    bottom: 0;
    &:nth-child(2) {
      margin-left: 5px;
    }
  }

  .center {
    font-size: 20px;
  }

  .search-icon {
    width: auto;
  }

  .sortimente-widget {
    flex-direction: column;
    width: auto;
    margin-top: 60px;
  }

  .search-wrapper {
    margin: 15px auto 35px auto;
    width: 200px;
  }

  .search-box {
    width: auto;
  }

  .restaurante-container {
    grid-template-columns: 1fr !important;
    padding: 30px 0;
    img {
      height: 80%;
    }
  }

  .restaurant_natural {
    height: 250px;
    &:nth-child(2) {
      height: 150px;
    }
  }

  .copyrights {
    padding: 10px 10%;
    height: auto;
    color: black;
    border-bottom: 1px solid #cfcece;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .copyrights_designed {
    font-size: 15px;
  }

  .copyrights_support {
    display: flex;
    p {
      margin: 15px 10px;
      font-size: 15px;
    }
  }

  .socialize {
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .socialize_social-cont a {
    font-size: 17px;
    display: flex;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:nth-child(3) {
      margin-right: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
    &:nth-child(2) {
      padding-left: 14px;
      padding-right: 14px;
    }
    &:nth-child(1) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  #email {
    display: none;
  }

  .modal-left {
    float: none;
    width: 100%;
  }

  .modal_container {
    height: 100%;
    padding: 50px 0 0 0;
    display: none;
  }

  .container {
    margin-right: 5%;
    margin-left: 5%;
  }

  .restaurant_food {
    margin-top: 20px;
  }

  .cos_content {
    width: 90%;
  }

  .modal-detalii-title {
    width: 60%;
    font-size: 20px;
  }
  .modal-detalii {
    padding: 0;
    flex-direction: column;
  }

  .modal-detalii-container {
    width: 90%;
  }

  .textp {
    width: 250px;
    margin: 0 auto;
  }
}

@media (max-height: 810px) and (max-width: 375px) {
  .modal-detalii-container {
    img {
      height: auto;
    }
  }

  .modal-cos {
    margin-top: 30px;
    padding-bottom: 0;
  }

  .cos_content {
    height: 83%;
  }

  .cos-produs {
    overflow: auto;
    height: auto;
  }
  .cos_container {
    height: 90%;
    overflow: scroll;
    padding: 90px 0;
  }
  .modal_container {
    height: 90%;
    overflow: scroll;
    padding: 50px 0 10px 0;
  }
  .modal-detalii {
    padding: 0;
    height: 300px;
    flex-direction: column;
  }
}
